#sym-eventslist{
	border: 0;
}

.sym-event-row {
    position: relative;
    min-height: 200px;
    margin-bottom: 20px;
}
.sym-event-row .sym-event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.sym-event-row .sym-event-details {
	margin-left: 220px;
}

.sym-eventname{
	font-weight: bold;
}

.symphony-spotlight-div{
	background-color: #F5E9B6;
	border: 1px solid #E8CA49;
	border-radius: 5px;
}

.symphony-spotlight-colleft{
}

.symphony-spotlight-colright{
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 999px) {
	.symphony-spotlight-colright {
		display: none;
	}
	.sym-event-row {
		min-height: 0;
	}
	.sym-event-row .sym-event-image {
    display: none;
	}
	.sym-event-row .sym-event-details {
		margin-left: 0px;
	}
}

.sym-event-title{
	color: #2959A4;
	font-size: xx-large;
	padding: 4px 0 4px 0;
	font-family: bree-serif,​serif;
}

.sym-contactdetails{
	font-size: small;
	background-color: #DCDCDC;
	text-align: center;
}

.sym-eventdets{
	font-size: 0.8em; 
	margin-top: 10px; 
}

/*.sym-eventdesc{
	font-size: 0.8em; 
	margin-top: 10px; 
}*/
